.container {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
}

    .title h2 {
        margin-top: 14px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 38px;
        font-weight: 600;
    }

.projectImage {
    display: flex;
    justify-content: center;
    width: 50em;
}

.description {
    font-family: 'Ubuntu', sans-serif;
}

.link {
    font-family: 'Ubuntu', sans-serif;
}